<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/todo.css">
    <title>Todo List</title>
</head>
<body>
    <div class="todo-wrap">
        <div class="todo-html">
            <div class="welcome-header">
                <h2>Welcome, <%= userName %>!</h2>
            </div>

            <div class="todo-header">
                <h1><%= listName %></h1>
                <form id="logout-form" action="/logout" method="POST" style="display: inline;">
                    <button type="submit" id="logout" class="logout-button">Logout</button>
                </form>
            </div>
            <div class="todo-form">
                <form action="/add-task" method="POST">
                    <div class="group">
                        <input id="new-task" name="task" type="text" class="input" placeholder="Add a new task..." required>
                        <button id="add-task" class="button" type="submit">Add Task</button>
                    </div>
                </form>                
            </div>
            <div class="todo-list">
                <% if (tasks.length) { %>
                    <% tasks.forEach(task => { %>
                            <div class="task-item">
                                <form class="check-form" action = "/toggle-task" method="POST">
                                    <input type="hidden" name="isCompleted" value="<%= task.completed %>">
                                    <input type="hidden" name="itemId" value="<%= task._id %>">
                                    <input type="checkbox" id="task-<%= task._id %>" <%= task.completed ? 'checked' : '' %> onChange="this.form.submit()">
                                    <label for="task-<%= task._id %>"><%= task.item_name %></label>
                                </form>
                                <form action = "/delete-task" method="POST">
                                    <input type="hidden" name="itemId" value="<%= task._id %>">
                                    <button class="delete-task" data-id="<%= task._id %>" type="submit">✖</button>
                                </form>
                            </div>
                    <% }) %>
                <% } else { %>
                    <p>No tasks added yet!</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
